.content-center {
  display: flex;
  justify-content: center;
}

.timer__btn {
  font-size: 64px;
  color: #fff;
  transition: background-color .2s ease-in-out;
  user-select: none;
}

.btn-start {
  background-color: #007BFF;
  margin-right: 1em;
  &:hover {
    background-color: darken(#007BFF, 3%);
  }
}

.btn-reset {
  background-color: #6C757D;
  &:hover {
    background-color: darken(#6C757D, 3%);
  }
}

.timer__buttons {
  font-size: 20px;
  margin-top: 4em;
}